<!--Render the data that has passed by the carl-braces-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
    <h1>Hello {{user.firstName}}</h1>
    <p>Welcome to the movie zone </p>
        <!--Let me loop throgh the lists of movies-->
        <ul>
            {% for movie in movies %}
               <li><a href="{% url 'detail' movie.id %}" style="text-decoration: none;color: black;">{{movie.title}} published in {{movie.year}}</a></li>
            {% endfor %}
        </ul>

    <p>Note: Click any movie for the detail information...</p>
    <br>
    <!--The below link will go directly to the add section -->
    <a href="/movies/add" style="text-decoration: none;">Add New Movie</a>

        

</body>
</html>